
.canvas div {
    display: inline-block;
    overflow: auto;
}

a:link {
    text-decoration: none;
    color: #0000FF;
}

a:visited {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px #FFFFFF;
    color: #00BFFF;
}

.hidden_links a:link {
    text-decoration: none;
    color: inherit;
}

.hidden_links a:visited {
    text-decoration: none;
    color: inherit;
}

.hidden_links a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px #FFFFFF;
    color: #0000FF;
}


.w3-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.w3-card:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 rgba(0,0,255,0.2);
}

.syllabi_info h1 {
    font-weight: bold;
    text-align: left;
}

.syllabi_info h2 {
    font-weight: bold;
    text-align: left;
}


.syllabi_info th {
    text-align: right;
}

.syllabi_info td {
    text-align: left;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    img.dark {
        filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
        border: 2px solid #000000 !important;
    }

    .w3-container {
        break-before: avoid;
    }
}